/* Behind The Scenes Components Styles */
.purple-text {
  color: #b45af2;
  font-weight: 600;
}

.green-text {
  color: #007f13;
  font-weight: 600;
}

.yellow-text {
  color: #b6630b;
  font-weight: 600;
}

.info{
    margin-top: 10px;
    text-align: center;
}
